:root {
  --ff-Dangrek-Regular: "Dangrek", sans-serif; /*400*/
  --ff-Jacques-Francois-Shadow: "Jacques Francois Shadow", serif; /*400*/
  --ff-Love-Ligth-regular: "Love Light", cursive; /*400*/
  --ff-Noto-Color-Emoji: "Noto Color Emoji", sans-serif; /*400*/
  --ff-Indie-Flower: "Indie Flower", cursive; /*400*/
  --ff-Dancing-Script: "Dancing Script", cursive; /*400*/
  --ff-Chakra-Petch: "Chakra Petch", sans-serif; /*400*/
  --ff-Akshar: "Akshar", sans-serif;
  --ff-Atma: "Atma", system-ui;
  --ff-Agbalumo: "Agbalumo", system-ui;
}
